
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    
}
body {
    background-color: antiquewhite;
    }
.bild {
    bottom: 1%;
    position: absolute;
    background-color: rgb(77, 193, 158);
    border: 2px solid black;
}
.stronk{
    width: 18%;
    right: 1%;
    
}
.muskler{
    width: 100%;
    height: auto;
}

.lista{
    border: 4px solid rgb(43, 45, 46);
    width: 10%;
}
h3{
    text-align: center;
}
.jens-bild{
    left: 1%;
    width: 13%;
}
.jag-bild{
    width: 100%;
    height:auto
}
.dota{
    right: 25%;
    width: 18%;
}
.techies{
    width: 100%;
    height: auto;
}
.springa {
    left: 20%;
    width: 13%;
}
.eliud{
    width: 100%;
    height: auto;
}
.text{
    width: 50%;
    margin: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center ;
    text-align: center;
    font-size: 1.25vw;
}
.rubrik{
    position: sticky;
    background-image: url(bilder/damm.jpg);
    height: 0%;
    top: 0;
}

.links {
    position: absolute;
    display: flex;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 15%;
    background-color: rgb(77, 193, 158);
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 20px;
}
.länkar{
    position: relative;
    background-color: darkgrey; 
    text-decoration: none;
    color: black;
    height: 80%;
    top: 10%;
    width: 20%;
    border: 1px solid black;
    border-radius: 5%;
    font-size: 1.5vw;
}
.länkar:hover {
    width: 25%;
    height: 90%;
    top: 3%;
    border: 2px solid black;
}