canvas {
    position: absolute;
    top: 20%;
    left: 30%;
    border: 1px solid #000;
    display: block;
    margin: 50px auto;
}
body {
    background-color: slategray;
}
h1 {
    text-align: center;
    font-size: 100px;
}
h2 {
    left: 5%;
}
.länkar{
    
}
