
@font-face {
  font-family: font;
  src: url("./bilder/Lemon-Regular.ttf")
}
body {
    h1 {
        text-align: center;
        font-family: font;
        font-size: 27px;
    }
    background-color: aquamarine;
    background-image: url("./bilder/nikocado-avocado-griddy-dance.gif");
    background-repeat: no-repeat, no-repeat;
    img{
        position: absolute;
        left: 840px;
        top: 5px;
        border: 5px solid sandybrown;
        border-radius: 50%;
        display: block;
        width: 400px;
        height: 225px;
    }
    img:hover {
        box-shadow: 0 0 8px 4px rgba(43, 45, 46, 0.5);
        cursor: pointer;
      }
      
a {
  cursor: default;
}


      h3 {
        position: absolute;
        top: 80px;
        left: 500px;
        background-color: blueviolet;
        border: 4px solid rgba(43, 45, 46, 0.5);
        color: salmon;
      }
      ul {
        position: absolute;
        top: 110px;
        left: 500px;
        background-color: blueviolet;
        border: 4px solid rgba(43, 45, 46, 0.5);
        color:yellow
      }
      div {
        border: 4px solid rgb(43, 45, 46);
        position: absolute;
        top: 245px;
        left: 500px;

      
      }
      }
